.sidebar{display: flex;
  position: fixed;
  flex-direction: column;
  left: 0;
  bottom: 0;
  top: 60px; 
  width: 75px;
  background-color: rgb(255, 255, 255);
  border-top: 1px solid lightgray;

  z-index: 200;
}

.sidebar-link{
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar-link:hover{
  background-color: rgb(234, 234, 234);

  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  transform: scale(1.1);
}

.sidebar-link img{
  height: 30px;
}

.sidebar-link div{
  font-family: Robot, Arial;
  font-size: 10px;
}